@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
  background-color: #f3f4f6; /* Equivalent to bg-gray-100 */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Thin Green Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #10B981; /* green-500 */
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #059669; /* green-600 */
}